{{ "<!-- Footer section -->" | safeHTML }}
<footer id="footer">
    <div class="lockup">
        <div class="content-wrap">
            <nav>
                <a href="#about-me">{{ with .Site.Params.about.title }}{{ . }}{{ end }}</a>
                <a href="#work">{{ with .Site.Params.work.title }}{{ . }}{{ end }}</a>
                <a href="#clients">{{ with .Site.Params.clients.title }}{{ . }}{{ end }}</a>
                <a href="#contact">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</a>
            </nav>
            <p class="copyright">{{ with .Site.Params.footer.copyright }}{{ . }}{{ else }}All content copyright {{.Now.Format "2006"}} {{ end }}</p>
        </div>
    </div>
</footer>
