{{ "<!-- Form section -->" | safeHTML }}
<section>
    {{ with .Site.Params.form.title }}<h3 id="form-title">{{ . }}</h3>{{ end }}
    <form method="POST" action="//formspree.io/{{ with .Site.Params.email }}{{ . }}{{ end }}">
        <fieldset class="contact-info-group">
            {{ with .Site.Params.form.name }}<label><span>{{ . }}</span>{{ end }}
                <input type="text" name="name">
            </label>
            {{ with .Site.Params.form.email }}<label><span>{{ . }}</span>{{ end }}
                <input type="email" name="_replyto">
            </label>
        </fieldset>
        {{ with .Site.Params.form.message }}<label><span>{{ . }}</span>{{ end }}
            <textarea name="message"></textarea>
        </label>
        <fieldset class="submit-wrap">
            <input type="submit" value="{{ with .Site.Params.form.buttonText }}{{ . }}{{ end }}">
        </fieldset>
    </form>
</section>
