<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>

		{{ partial "header.html" . }} 
		{{ partial "about.html" . }}

<section class="alt-section section-work">
  
  <h3 id="work">Work</h3>
  
    <input type="radio" name="trigger" class="trigger" id="proj-1" />
  
    <input type="radio" name="trigger" class="trigger" id="proj-2" />
  
    <input type="radio" name="trigger" class="trigger" id="proj-3" />
  
    <input type="radio" name="trigger" class="trigger" id="proj-4" />
  
    <input type="radio" name="trigger" class="trigger" id="proj-5" />
  
    <input type="radio" name="trigger" class="trigger" id="proj-6" />
  
    <input type="radio" name="trigger" class="trigger" id="proj-7" />
  
    <input type="radio" name="trigger" class="trigger" id="proj-8" />
  

  <input type="radio" name="trigger" id="return" class="return" />

  <div class="work-belt">
    
    <div class="thumb-wrap">
      <div class="thumb-container">
      
      <label for="proj-1">  
        <div class="thumb-unit" data-folder="proj-1">
          <img src="{{ .Site.BaseURL }}img/work/proj-1/thumb.jpg" alt="TYPO International Design Talks" />
        </div> 
        <div class="thumb-overlay">
          <strong>TYPO International Design Talks</strong>
        </div>
      </label>
      
      <label for="proj-2">  
        <div class="thumb-unit" data-folder="proj-2">
          <img src="{{ .Site.BaseURL }}img/work/proj-2/thumb.jpg" alt="City-IN website concept" />
        </div> 
        <div class="thumb-overlay">
          <strong>City-IN website concept</strong>
        </div>
      </label>
      
      <label for="proj-3">  
        <div class="thumb-unit" data-folder="proj-3">
          <img src="{{ .Site.BaseURL }}img/work/proj-3/thumb.jpg" alt="Crispy Icons" />
        </div> 
        <div class="thumb-overlay">
          <strong>Crispy Icons</strong>
        </div>
      </label>
      
      <label for="proj-4">  
        <div class="thumb-unit" data-folder="proj-4">
          <img src="{{ .Site.BaseURL }}img/work/proj-4/thumb.jpg" alt="Flat Mobile UI/UX Concept" />
        </div> 
        <div class="thumb-overlay">
          <strong>Flat Mobile UI/UX Concept</strong>
        </div>
      </label>
      
      <label for="proj-5">  
        <div class="thumb-unit" data-folder="proj-5">
          <img src="{{ .Site.BaseURL }}img/work/proj-5/thumb.jpg" alt="Fresh It Up" />
        </div> 
        <div class="thumb-overlay">
          <strong>Fresh It Up</strong>
        </div>
      </label>
      
      <label for="proj-6">  
        <div class="thumb-unit" data-folder="proj-6">
          <img src="{{ .Site.BaseURL }}img/work/proj-6/thumb.jpg" alt="Timeline Page" />
        </div> 
        <div class="thumb-overlay">
          <strong>Timeline Page</strong>
        </div>
      </label>
      
      <label for="proj-7">  
        <div class="thumb-unit" data-folder="proj-7">
          <img src="{{ .Site.BaseURL }}img/work/proj-7/thumb.jpg" alt="Weather Dashboard" />
        </div> 
        <div class="thumb-overlay">
          <strong>Weather Dashboard</strong>
        </div>
      </label>
      
      <label for="proj-8">  
        <div class="thumb-unit" data-folder="proj-8">
          <img src="{{ .Site.BaseURL }}img/work/proj-8/thumb.jpg" alt="Stripes & Co" />
        </div> 
        <div class="thumb-overlay">
          <strong>Stripes & Co</strong>
        </div>
      </label>
      
    </div>
    </div>
    
    <div class="work-wrap">
      <div class="work-container">
      <label for="return">
        <div class="work-return"><svg xmlns="https://www.w3.org/2000/svg" enable-background="new 0 0 40 40"><path d="M22.896 29.125c-.256 0-.512-.098-.707-.293l-8.125-8.125c-.391-.391-.391-1.023 0-1.414l8.125-8.125c.391-.391 1.023-.391 1.414 0s.391 1.023 0 1.414l-7.418 7.418 7.417 7.418c.391.391.391 1.023 0 1.414-.195.195-.451.293-.706.293zM20 6c7.72 0 14 6.28 14 14s-6.28 14-14 14-14-6.28-14-14 6.28-14 14-14m0-2c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16z"/></svg></div>
      </label>
      <h4 class="project-title"></h4>
      <div class="project-load"></div>

      <noscript>
        
          <div class="noscript" id="content-proj-1">
            <h4 class="project-title">TYPO International Design Talks</h4>
            <div class="noscript-load">
              <img src="{{ .Site.BaseURL }}img/work/proj-1/img1.jpg" alt="Typo International">

<p>TYPO: International Design Talks is an annual event held in Berlin, London, and San Francisco. This promotional project is developed to market the event for the designindustry. The use of patterns, sophisticated color scheme and typography are applied for the print and mobile application.</p>

<img src="{{ .Site.BaseURL }}img/work/proj-1/img2.jpg" alt="Typo International">
<img src="{{ .Site.BaseURL }}img/work/proj-1/img3.jpg" alt="Typo International">
<img src="{{ .Site.BaseURL }}img/work/proj-1/img4.jpg" alt="Typo International">
<img src="{{ .Site.BaseURL }}img/work/proj-1/img5.jpg" alt="Typo International">
            </div>
          </div>
        
          <div class="noscript" id="content-proj-2">
            <h4 class="project-title">City-IN website concept</h4>
            <div class="noscript-load">
              <img src="{{ .Site.BaseURL }}img/work/proj-2/CityIn-AntonSkvortsov.jpg" alt="City In" />
            </div>
          </div>
        
          <div class="noscript" id="content-proj-3">
            <h4 class="project-title">Crispy Icons</h4>
            <div class="noscript-load">
              <img src="{{ .Site.BaseURL }}img/work/proj-3/CrispyIcons-PetrasNargela.jpg" alt="Crispy Icons" />
            </div>
          </div>
        
          <div class="noscript" id="content-proj-4">
            <h4 class="project-title">Flat Mobile UI/UX Concept</h4>
            <div class="noscript-load">
              <img src="{{ .Site.BaseURL }}img/work/proj-4/flatmobile-AyoubElred.jpg" alt="Flat Mobile UX" />
            </div>
          </div>
        
          <div class="noscript" id="content-proj-5">
            <h4 class="project-title">Fresh It Up</h4>
            <div class="noscript-load">
              <img src="{{ .Site.BaseURL }}img/work/proj-5/freshitup-JieyuXiong.jpg" alt="Fersh It Up" />
            </div>
          </div>
        
          <div class="noscript" id="content-proj-6">
            <h4 class="project-title">Timeline Page</h4>
            <div class="noscript-load">
              <img src="{{ .Site.BaseURL }}img/work/proj-6/TimeLinePage-SergeyValiukh.jpg" alt="Time Line Page" />
            </div>
          </div>
        
          <div class="noscript" id="content-proj-7">
            <h4 class="project-title">Weather Dashboard</h4>
            <div class="noscript-load">
              <img src="{{ .Site.BaseURL }}img/work/proj-7/img0.jpg" alt="Weather Dashboard">
<img src="{{ .Site.BaseURL }}img/work/proj-7/img1.jpg" alt="Weather Dashboard">
<img src="{{ .Site.BaseURL }}img/work/proj-7/img2.jpg" alt="Weather Dashboard">
<img src="{{ .Site.BaseURL }}img/work/proj-7/img3.jpg" alt="Weather Dashboard">
<img src="{{ .Site.BaseURL }}img/work/proj-7/img4.jpg" alt="Weather Dashboard">

            </div>
          </div>
        
          <div class="noscript" id="content-proj-8">
            <h4 class="project-title">Stripes & Co</h4>
            <div class="noscript-load">
              <img src="{{ .Site.BaseURL }}img/work/proj-8/stripes-co-NickZoutendijk.jpg" alt="Stripes & Co" />
            </div>
          </div>
        
      </noscript>

    </div>
    </div>
    
  </div>
</section>




	{{ partial "clients.html" . }}




<section class="alt-section section-contact">
  
  <h3 id="contact">Contact</h3>
  
  
  <div class="social-links">
    
    <a href="https://twitter.com/devtipsshow" class="icon-twitter"></a>
    
    <a href="https://dribbble.com/travisneilson" class="icon-dribbble"></a>
    
    <a href="https://www.behance.net/travisneilson" class="icon-behance"></a>
    
    <a href="https://www.youtube.com/DevTipsForDesigners" class="icon-youtube"></a>
    
    <a href="https://www.linkedin.com/in/travisneilson/" class="icon-linkedin"></a>
    
  </div>
  
  <hr class="bar">
  
  <a class="biglink" href="mailto:devtipsfordesigners@gmail.com">devtipsfordesigners@gmail.com</a>
  
</section>

<section>

  <h3>Let's work together</h3>
  
<form method="POST" action="//formspree.io/devtipsfordesigners@gmail.com">
  
  <fieldset class="contact-info-group">

    <label><span>Your Name</span>
    <input type="text" name="name"></label>
    
    <label><span>Your Email</span>
    <input type="email" name="_replyto"></label>

  </fieldset>

  <label><span>Tell me about your project</span>
  <textarea name="message"></textarea></label>

  <fieldset class="submit-wrap">
    <input type="submit" value="Send">
  </fieldset>

</form>
  
</section>



<footer id="footer">

  <div class="lockup">
    
    <div class="content-wrap">
      <nav>
        
          <a href="#about-me">About Me</a>
        
          <a href="#work">Work</a>
        
          <a href="#clients">Clients</a>
        
          <a href="#contact">Contact</a>
        
      </nav>
      
      <p class="copyright">All content copyright 2015</p>
    </div>
    
  </div>

</footer>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/functions.js"></script>
</body>
</html>
